
<div class="row">
    <div class="col-md-3" >
        <img class="profilIocn" src="/assets/profil.png" />
        <br>
        <p>Anne Sophie Bamoni Loubamono</p>
      
        <br>
    <hr>
    <br>
        <ul>
            <li><a (click)="activeComponent = 'agent-info-list'" routerLinkActive="active">Liste des Agents</a></li>
            <li><a (click)="activeComponent = 'user-info-list'" routerLinkActive="active">Liste des Utilisateurs</a></li>
            <li><a (click)="activeComponent='ProceduresDisplay'" routerLinkActive="active">Liste des procédures</a></li>
            <li><a (click)="activeComponent='birthCertificateDisplay'" routerLinkActive="active">Liste des actes de naissances</a></li>
            <li><a (click)="activeComponent = 'Procedure-Assigned'" routerLinkActive="active">Assignation procédures</a></li>
            <li><a (click)="activeComponent = 'stats'" routerLinkActive="active">Statistiques</a></li>
            <li>Mon profil</li>
            <li>Déconnexion</li>
            

          </ul>

          <br><br><br>
    </div>
    <div class="col-md-9">
        <app-agent-display *ngIf="activeComponent === 'agent-info-list'"></app-agent-display>
        <app-user-display *ngIf="activeComponent === 'user-info-list'"></app-user-display>
        <app-procedures-list *ngIf="activeComponent === 'ProceduresDisplay'"></app-procedures-list>
        <app-birth-certificate-list *ngIf="activeComponent === 'birthCertificateDisplay'"></app-birth-certificate-list>
        <app-procedures-assigned *ngIf="activeComponent === 'Procedure-Assigned'"></app-procedures-assigned>
        <app-analytics *ngIf="activeComponent === 'stats'"></app-analytics>
    </div>
    
</div>

