
<div class="row">
    <div class="col-md-3" >
        <img class="profilIocn" src="/assets/profil.png" />
        <br>
        <p>Anne Sophie Bamoni Loubamono</p>
      
        <br>
    <hr>
    <br>
        <ul>
            <a (click)="activeComponent = 'agent-info-list'" routerLinkActive="active"><li>Liste des Agents</li></a>
            <a (click)="activeComponent = 'user-info-list'" routerLinkActive="active"><li>Liste des Utilisateurs</li></a>
            <a (click)="activeComponent='ProceduresDisplay'" routerLinkActive="active"><li>Liste des procédures</li></a>
            <a (click)="activeComponent='birthCertificateDisplay'" routerLinkActive="active"><li>Liste des actes de naissances</li></a>
            <a (click)="activeComponent = 'Procedure-Assigned'" routerLinkActive="active"><li>Assignation procédures</li></a>
            <a (click)="activeComponent = 'stats'" routerLinkActive="active"><li>Statistiques</li></a>
            <a href="#"><li>Notifications</li></a>
            <li><a href="#">Mon profil</a></li>
            <li><a href="#">Déconnexion</a></li>
            

          </ul>

          <br><br><br>
    </div>
    <div class="col-md-9">
        <app-agent-display *ngIf="activeComponent === 'agent-info-list'"></app-agent-display>
        <app-user-display *ngIf="activeComponent === 'user-info-list'"></app-user-display>
        <app-procedures-list *ngIf="activeComponent === 'ProceduresDisplay'"></app-procedures-list>
        <app-birth-certificate-list *ngIf="activeComponent === 'birthCertificateDisplay'"></app-birth-certificate-list>
        <app-procedures-assigned *ngIf="activeComponent === 'Procedure-Assigned'"></app-procedures-assigned>
        <app-analytics *ngIf="activeComponent === 'stats'"></app-analytics>
    </div>
    
</div>

