

.row{
    margin: 0 auto;
    background-repeat : no-repeat;
    background-position:fixed;
    background-size:100%;
    background-repeat : no-repeat;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    height:100%;
}

.col-md-3{
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    height:100%;
    
   // border: 1px solid #3e123e;
    text-align: center;
    background-color: #7431FA;
    height: 100vh;
    font-size: 25px;
    color:white;
}
.col-md-9{
   background-color: #f6f6fe;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    height:100vh;
}
ul{

  list-style-type: none; /* Enlever les puces des listes */
}
li:hover{
  background-color: white; /* Couleur de surlignage */
  padding: 0.5em 1em ; /* Ajout de l'espace autour du texte */
  border-radius: 40px; /* Bords arrondis */
  //display: inline-block; /* Pour que le padding et le border-radius fonctionnent correctement */
  //box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
  color:#7431FA;
}

li{
  text-align: left;
  margin: 40px  ; /* Espacement entre les éléments de la liste */
  
}


img{
  margin-top: 0,01%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

p{
//color: white;
font-size: 30px;
text-align: center;
font-weight: bold;
}
