
<div class="row">
    <div class="col-md-3" >
        <img class="profilIocn" src="/assets/profil.png" />
        <br>
        <p>Anne Sophie Bamoni Loubamono</p>
      
        <br>
    <hr>
    <br>
        <ul>
            <li><a (click)="activeComponent = 'birthCertificateDisplay'" routerLinkActive="active">Mes documents</a></li>
            <li><a (click)="activeComponent = 'user-info-list'" routerLinkActive="active">Mes demandes</a></li>
            <li>Nouvelle demande</li>
            <li>Mon profil</li>
            <li>Déconnexion</li>
            

          </ul>
    </div>
    <div class="col-md-9">
        
     
        <app-birth-certificate-list *ngIf="activeComponent === 'birthCertificateDisplay'"></app-birth-certificate-list>
        
        <app-user-display *ngIf="activeComponent === 'user-info-list'"></app-user-display>

       
    </div>
    
</div>


