
<input type="text" class="form-control" placeholder="Filtre de Recherche ...." aria-label="Recipient's username with two button addons">

<div *ngIf="selectedAgent" class="agent-details">
    <h2>Détails de l'agent</h2>
    
    <p style="margin-top: 5%;"><strong>Nom:</strong> {{ selectedAgent.name }}</p>
    <p><strong> Prénom : </strong> {{ selectedAgent.firstName }}</p>
    <p><strong> Email : </strong> {{ selectedAgent.email }}</p>
    <p><strong> Téléphone : </strong> {{ selectedAgent.phoneNumber }}</p>
    <p><strong> Département : </strong> {{ selectedAgent.departement }}</p>
    <p><strong> Date d'embauche : </strong> {{ selectedAgent.dateEmbauche | date }}</p>
    <p><strong> Role : </strong>{{selectedAgent.role}}</p>
    <br><br>
    <h4>Procedures Assignées</h4>
    <br>
    <ul>
        <li *ngFor="let procedure of selectedAgent.proceduresAssignees">
            <p>         <strong>Identifiant procédure :</strong> {{procedure.id}}</p>
            <p>         <strong>Type : </strong>{{ procedure.type }}</p>
            <p>         <strong>Date Demande : </strong>{{ procedure.dateDemande | date }}</p>
            <p>         <strong>Status : </strong>{{ procedure.status }}</p>
            <p>         <strong>Documents Scannés : </strong>{{ procedure.documentsScannes.join(', ') }}</p>
            <br>
            <!-- Affichage des informations du demandeur (utilisateur) -->
            <!--<p>Demandeur:</p>
            <ul> 
                <li>
                    <p><strong>Nom:</strong> {{ procedure.demandeur.name }}</p>
                    <p><strong>Prénom:</strong> {{ procedure.demandeur.firstName }}</p>
                    <p><strong>Email:</strong> {{ procedure.demandeur.email }}</p>
                    <p><strong>Téléphone:</strong> {{ procedure.demandeur.phoneNumber }}</p>
                    <p><strong>Date de naissance:</strong> {{ procedure.demandeur.birthDate | date }}</p>
                    <p><strong>Genre:</strong> {{ procedure.demandeur.gender }}</p>
                </li>
            </ul>-->
        </li>
    </ul>
    
    <button class="btn btn-outline-danger" style="width:19.5%; margin-left: 80%;margin-right: 0.5%; font-size: 20px;" (click)="onBack()">Masquer</button>
</div>



<table>
    <thead class="firstLine">
        <td>Id</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Adresse mail</td>
        <td>departement</td>
        <td></td>
    </thead>
    <tr *ngFor="let ag of agent$ | async "  >
        <td>{{ag.id}}</td>
        <td>{{ag.name}}</td>
        <td>{{ag.firstName}}</td>
        <td>{{ag.email}}</td>
        <td>{{ag.departement}}</td>
        <td><button style=" display: block; margin: 0 auto;text-align: center; font-size: 20px;" class="btn btn-outline-primary" (click)="onViewAgent(ag)">Consulter informations</button></td>
    </tr>
  
</table>


<br><br>
