table{
    margin-top: 80px;
    border-collapse: collapse;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border : none;
    width: 85%;
    font-size: 22px;

}
.firstLine{
    background-color: #3e123e;
    font-size: 20px;
    color: white;
    border: 5px solid white;
    td{
          border: 5px solid white;
    }
}
th, td{

  padding: 15px;

}

tr:hover{
    background-color: #ebebeb;
    td{
        border: 5px solid rgb(255,255,255);

    }
}
input{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    font-size: 22px;
    text-align: center;
}
h2{
    text-align: center;
}

.procedure-details {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    p{font-size: 22px;}
}

ul{
    list-style-type: none; /* Enlever les puces des listes */
}

h4{text-decoration: underline;}