h1{
    text-align: center;
    font-weight: bold;
    margin-top: 4%;
}
.presentation{
    margin-top: 1%;
    font-size: 20px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
}
.title{
    background-color: #504499;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    margin: 0; /* Supprime les marges */
    font-weight:bold;
    color:white;
}
table{
    margin-top: 80px;
    border-collapse: collapse;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border : none;
    width: 85%;
    font-size: 22px;
    background-color: white;
}
.firstLine{
    background-color: #504499;
    font-size: 25px;
    color: white;
    border:1px solid white;
    td{
          border: 1px solid white;
    }
}
th, td{

  padding: 15px;

}

tr:hover{
    background-color: #ebebeb;
    td{
        border: 1px solid rgb(255,255,255);

    }
}
input{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    font-size: 22px;
    text-align: center;
}
h2{
    text-align: center;
}

.procedure-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    p{font-size: 22px;}
}

ul{
    list-style-type: none; /* Enlever les puces des listes */
}

h4{
    font-weight: bold;
    padding: 10px;
    color: #504499;
    border: 1px solid #504499;
    text-align: center;
    border-radius: 25px;
}