

.row{
    margin: 0 auto;
    background-repeat : no-repeat;
    background-position:fixed;
    background-size:100%;
    background-repeat : no-repeat;
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    height:100%;
}

.col-md-3{
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    height:100%;
    
   // border: 1px solid #002D44;
    text-align: center;
    background-color: #002D44;
    height: 100vh;
    font-size: 25px;
    color:white;
}
.col-md-9{
   
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    height:100vh;
}
ul{

  list-style-type: none; /* Enlever les puces des listes */
}
li:hover{

  color:aqua;
}

li{
  text-align: left;
  margin: 25px 0; /* Espacement entre les éléments de la liste */
  
  left:0;
}


img{
  margin-top: 0,01%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

p{
color: white;
font-size: 30px;
text-align: center;
font-weight: bold;
}