h1{
    text-align: center;
    font-weight: bold;
    margin-top: 4%;
}
.presentation{
    margin-top: 1%;
    font-size: 20px;
    width: 95%;
    margin-left: 2.5%;
    text-align: center;
}
.title{
    background-color: #a5a5dc;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    margin: 0; /* Supprime les marges */
    font-weight:bold;
    color:white;
}
table{
    margin-top: 5%;
    border-collapse: collapse;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    font-size: 22px;
    background-color: white;
}

.firstLine{
    background-color: rgb(165, 165, 220);
    font-size: 20px;
    font-size: 25px;
    color: white;
    border: 2px solid white;
    td{ border: 1px solid white; }
}
th, td{
  padding: 15px;

}

tr:hover{
    background-color: #ebebeb;
    td{border: 1px solid white;}
}

input{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    text-align:center;
    font-size: 22px;
}
.user-details {
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 25px;
    margin-top: 5%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    p{font-size: 22px;}
}

li{
    list-style-type: none; /* Enlever les puces des listes */
    box-shadow: 0px 0px 5px 5px rgba(165, 165, 220, 0.2);
    width: 85%;
    margin-left: 4%;
    padding-left: 15px;
    margin-top: 20px;
}

h2{
    text-align: center;
}

p{
    font-size: 20px;
}

h4{
    font-weight: bold;
    padding: 10px;
    color: #a5a5dc;
    border: 1px solid #a5a5dc;
    text-align: center;
    border-radius: 25px;
}