
.analytics{
    margin-top: 50px;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    top:0;
    left: 0;
    right:0;
  
  }
  
  .col-md-5{
    
    background-color: white;
    border-radius : 20px;
    margin: 4%;
    //box-shadow: 0px 0px 5px 5px #ccccff;
    border: 1px solid #7f3aff;
   
  }
  .title_analytics{
      font-weight: bold;
      text-align: center;
      font-size: 25px;
  }
  .data{
    font-size: 20px;
    text-align: left;
    margin-left: 4%;
  }
  .process_data{
    background-color: white;
    border-radius : 20px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    //box-shadow: 0px 0px 5px 5px rgb(222, 222, 222);
    border: 1px solid #afb7ff;
  }
  .stat_style{
    border: 1px solid black;
  }

 